<p style="background-color:cornflowerblue">
  ticket-list works!
</p>
<div *ngIf="!logged" class="card">
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <input type="text" class="form-control" placeholder="Username"  [(ngModel)]="username" />
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password" />
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <button  (click)="login()" type="button" class="btn btn-outline-primary"> login</button>
        </div>
      </div>

    </div>
  </div>
</div>

<span *ngIf="logErr"> bad credentials, try again</span>

